 .green {
     background-color: #66FF33;
 }
 
 .red {
     background-color: #FF9999;
 }
 
 .yellow {
     background-color: #FFFF66;
 }
 
 p {
     font-size: 30px;
 }
 li {
     color: red;
     font: Arial;
     text-decoration: underline;
 }